@import 'base/color';
@import 'base/typography';

body {
	background-color: $red;
	font-family: $main-font;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
	color: $white;

	a {
		display: block;
		width: 100%;

		&:link, &:visited {
			color: $white;
			text-decoration: none;
		}
		&:hover, &:active {
			background-color: $white;
			color: $red;
		}
	}
}

.box {
	background-color: $white;
	width: 100%;
	padding: 10px 0;
	font-weight: 600;
	color: $red;

	&:hover {
		cursor: pointer;
	}
}