<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Table</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="scripts/main.js"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>

	<body>
		<div class="row">
			<div ng-controller="galleryCtrl">
				<div ng-hide="galleryDisplay" class="gallery" tabindex="0" ng-keyDown="galleryNavCtrl()">

					<div class="wrapper">
						<a ng-click="close()" class="fa fa-close fa-lg closeBtn" href="#"></a>

						<div class="navControls">
							<a ng-click="prev()" class="fa fa-angle-left fa-3x prev" href="#"></a>
							<a ng-click="next()" class="fa fa-angle-right fa-3x next" href="#"></a>
						</div>

						<img ng-src="{{images[current].gallery}}">
					</div>

				</div>

				<div class="thumbnail_wrapper">
				<h1>Mansions gallery</h1>
					<ul class="thumbnail_list">
						<li class="{{image_column}}" ng-repeat="images in images" ng-click="setCurrent($index)" tabindex="0" ng-keyDown="galleryNavCtrl()">
							<img ng-src="{{images.thumbnail}}" alt="{{images.description}}">
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
